body {
  background:#000;
}
#mapDiv {
  height:200px !important;
  width:100%;
  display:none;
}

#d3-map {
  height:100%;
  width:100%;
}

.land {
  fill: #444;
}

.counties {
  stroke:#333;
  stroke-width:0.3;
}

#info-window {
  display:none;
  position:absolute;
  left:20px;
  bottom:20px;
  background:#333333;
  opacity:0.8;
  color:#FFFFFF;
  padding:14px;
}
